<html>
<head>
</head>
<body>
<h1>Température de ma piscine</h1>
<h2>(ou bibliothèque si je n'ai pas eu le temps de mettre ma sonde dehors...)</h2>
<div id="result_container"></div>
<div id="chart_container"></div>
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<script src="js/comps.js"></script>
</body>
</html>
