<html>
<head>
	<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<link rel="icon" href="img/favicon.ico">
</head>
<body>
	<h1>Température de ma piscine</h1>
	<h2>Jérôme, si tu regardes encore la température de ma piscine, bravo pour la persévérance I guess? :) Bonne fin de stage</h2>
<div id="result_container"></div>
<div id="chart_container"></div>
<div>
	<ul>
		<li><a href="https://photos.app.goo.gl/Nd8hozb3a6pDXwYw5">Photos du setup</a></li>
		<li><a href="https://thepihut.com/blogs/raspberry-pi-tutorials/18095732-sensors-temperature-with-the-1-wire-interface-and-the-ds18b20">Documentation que j'ai utilisé</a></li>
	</ul>
</div>
<!-- hahaha, worst way to indent stuff ... will do this nicely later -->
<!--<br /><br /><br />
<h3>Pour les gens qui n'utilisent pas encore les Celsius pour leur piscine, voici un graph dans un autre système de mesure :</h3>
<div id="chart_container2"></div>
-->
<!--
<label for="imsURL">IMS url (ex : https://ctaschereau-pc/linc/external_forms/grievances) : </label><input id="imsURL" type="text"><button id="ims_btn">IMS</button>
<div id="ims_test" style=""></div>
-->
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<script src="js/comps.js"></script>
<script src="js/chart.js"></script>
</body>
</html>
